<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//Mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.UserMapper">
    <select id="selectUserById" parameterType="Integer" resultType="com.pojo.Customer">
        Select * from customer where  = #{account}
    </select>
    <insert id="addUser" parameterType="com.pojo.Customer">
        INSERT into useres values(#{account},#{password})
    </insert>
    <update id="updateUser" parameterType="com.pojo.Customer">
        update customer set Password=#{Password} where Account=#{account}
    </update>

</mapper>
